<<<<<<< HEAD

 /* start of index.html css  */

 body {
   background-color: #ffd900;
   font-family: sans-serif;
 }

 .container {
   margin-top: 90px;
 }

.booze-row {
  height: 150px;
}

.booze-icon-col {
  display: flex;
  justify-content: space-between;
}

.booze-btn {
  height: 150px;
}

.cuisine-sel {
  background-color: pink;
  height: 70px;
}

.neighborhood-sel {
  background-color: lightblue;
  height: 70px;
}

.price-col {
  display: flex;
  justify-content: space-between;
}

.price-point-btn {
  height: 150px;
}

.submit-col {
  display: flex;
  justify-content: space-between;
}

.list-btn {
  width: 250px;
  height: 70px;
}

.random-btn {
  width: 250px;
  height: 70px;
}

.resultsImages {
  width: 150px;
  height: 100%;
  vertical-align: middle;
  float: left;

}

.resultsInfo {
width: 400px;
height: 200px;
padding-right: 10px;
padding-top: 10px;
}

.resultsCol1 {
position: relative;
}

.resultsCol2 {
position: relative;
}

.resultsBox {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  height: 200px;
}

@media only screen and (min-width: 414px) {
.resultsCol1 {
  width: 30%;
}
.resultsCol2 {
  width: 30%;
}
.resultsInfo {
  width: 100%;
}
.resultsImages {
  width: 30%;
  height: 75%;
}
}
